@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Inter",sans-serif;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
}

h3{
    margin: 10px 0;
}

h6{
    margin: 5px 0;
    text-transform: uppercase;
}
p{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}


.card-container{
    background-color: #353B48;
    color: #b3b8cd;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 350px;
    width: 350px;
    padding-top: 30px;
    text-align: center;
    position: relative;
}

.pro{
    
    border-radius: 3px;
    font-size: 14px;
    position: absolute;
    font-weight: bold;
    padding: 3px 7px;
    color: #231e39;
    top: 30px;
    left: 30px;
}

.online{
    background-color: greenyellow;
}
.offline{
    background-color: #febb0b;
}

.img{
    border-radius: 50%;
    border: white solid 2px;
    padding:3px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.primary{
    background-color: #0984e3;
    border: 1px solid #0984e3;
    border-radius: 3px;
    color: white;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.outline{
    background-color:transparent;
}

.skills{
    background-color: #2f3640;
    text-align: left;
    padding: 15px;
    margin-top: 15px;
}

.skills ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li{
    border: 1px solid ;
    border-radius: 2px;
    display: inline-block;
    margin: 0 7px 7px 0;
    font-size: 14px;
    padding: 2px;
}

.img:hover{
    cursor: pointer;
    width: 120px;
    transition: 300ms ease;

}

button.primary:hover{
    cursor: pointer;
}